* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: background 0.3s ease;
}

body {
  color: #fff;
}

main {
  max-width: 1800px;
  margin: 0 auto;
}

.heading {
  font-size: 2.52rem;
  font-weight: 700;
}

section {
  padding: 0 1.89rem;
  margin-bottom: 3rem;
}

.landing-section {
  min-height: 100vh;
  position: relative;
}
.landing-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 85%;
  background: #8B9E70;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.89rem;
}

.logo {
  flex-grow: 1;
  font-weight: 800;
  font-size: 2rem;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 4rem;
  height: 4rem;
}
@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
.burger .line {
  background: #fff;
  height: 0.2rem;
  border-radius: 3rem;
}
.burger .line1 {
  width: 4rem;
}
.burger .line2 {
  width: 3rem;
}
.burger .line3 {
  width: 2rem;
}

.navigation {
  justify-content: space-evenly;
  flex-grow: 1;
  position: fixed;
  top: 7rem;
  width: 100%;
  height: 90vh;
  background: #313415;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s ease;
}
.navigation a {
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .navigation {
    position: static;
    flex-direction: row;
    align-items: center;
    width: initial;
    height: initial;
    background: none;
    transition: none;
  }
}

.landing {
  height: 100%;
  width: 100%;
  padding: 0 1.89rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 2.52rem;
}
@media only screen and (min-width: 768px) {
  .landing {
    flex-direction: row;
    text-align: left;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .landing__text {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 768px) {
  .landing__images {
    flex-grow: 2;
  }
}

.landing__heading {
  margin-top: 1.701rem;
}

.landing__content {
  margin-top: 1.701rem;
}
@media only screen and (min-width: 768px) {
  .landing__content {
    width: 22rem;
  }
}

.CTA-desktop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .CTA-desktop {
    display: flex;
  }
}

.CTA-desktop .btn {
  width: 12rem;
  height: 3.5rem;
  font-size: 0.8rem;
}

.landing__images {
  margin-top: 1.701rem;
  position: relative;
  top: 4rem;
}
@media only screen and (min-width: 768px) {
  .landing__images {
    top: 6rem;
  }
}

.furniture {
  display: flex;
  justify-content: center;
  position: relative;
}

.frames {
  width: 10rem;
  margin: 0 auto;
  width: 10rem;
  height: 11rem;
  position: relative;
}
.frames img {
  position: absolute;
}

.frame1 {
  top: 0;
  right: 5rem;
  width: 7.56rem;
  height: 6.3rem;
}
@media only screen and (min-width: 768px) {
  .frame1 {
    width: 8rem;
    height: 6.5rem;
    right: 4.5rem;
  }
}

.frame2 {
  top: 0;
  left: 5rem;
  width: 6.93rem;
  height: 9.45rem;
}
@media only screen and (min-width: 768px) {
  .frame2 {
    width: 9rem;
    height: 10rem;
  }
}

.frame3 {
  top: 5.3rem;
  right: 5rem;
  width: 4.41rem;
  height: 3.78rem;
}

.sofa {
  width: 20.16rem;
  height: 12.6rem;
  position: relative;
  left: 1rem;
}
@media only screen and (min-width: 768px) {
  .sofa {
    width: 40rem;
    height: 20rem;
  }
}

.lamp {
  width: 3.969rem;
  height: 12.6rem;
  position: relative;
  bottom: 2rem;
  right: 0.5rem;
}
@media only screen and (min-width: 768px) {
  .lamp {
    width: 7rem;
    height: 18.5rem;
  }
}

.login {
  width: 7.875rem;
  height: 2.835rem;
  color: #fff;
  border-radius: 2.54835rem;
  background: #313415;
  border: none;
  cursor: pointer;
}

.open {
  left: 0;
}

.close {
  left: 100vw;
}

.CTA-mobile {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .CTA-mobile {
    display: none;
  }
}

.btn {
  border-radius: 2.54835rem;
  border: solid 1px #313415;
  width: 20.475rem;
  height: 4.725rem;
  font-size: 1.26rem;
  margin: 1rem;
  cursor: pointer;
}

.btn--fill {
  color: #fff;
  background: #313415;
}

.btn--border {
  color: #313415;
  background: #fff;
}

.products {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
@media only screen and (min-width: 768px) {
  .products {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .products__intro {
    width: 25rem;
  }
}

.products__heading {
  color: #313415;
}

.products__content {
  color: #8b8b8b;
  margin-top: 3rem;
}

.products__catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
  .products__catalogue {
    margin: 0;
    flex-grow: 2;
  }
}
@media only screen and (min-width: 768px) {
  .products__catalogue {
    flex-direction: row;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #313415;
  background: rgb(247, 244, 244);
  width: 100%;
  height: 30rem;
  margin: 1rem;
}
@media only screen and (min-width: 768px) {
  .product {
    background: #fff;
    flex-grow: 1;
  }
}
.product:hover {
  background: rgb(204, 204, 204);
}

.product__desc {
  width: 8rem;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
