* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
}

.heading {
  font-size: 2.52rem;
  font-weight: 700;
}

section {
  padding: 0 1.89rem;
  margin-bottom: 3rem;
}

.landing-section {
  min-height: 100vh;
  position: relative;
}
.landing-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 85%;
  background: #8B9E70;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.89rem;
}

.logo {
  flex-grow: 1;
  font-weight: 800;
  font-size: 2rem;
}

.navigation {
  justify-content: space-evenly;
  flex-grow: 1;
  display: none;
}
@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}

.landing {
  height: 100%;
  width: 100%;
  padding: 0 1.89rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 2.52rem;
}

.landing__heading {
  margin-top: 1.701rem;
}

.landing__content {
  margin-top: 1.701rem;
}

.landing__images {
  margin-top: 1.701rem;
  position: relative;
  top: 4rem;
}

.furniture {
  display: flex;
  justify-content: center;
  position: relative;
}

.frames {
  width: 10rem;
  margin: 0 auto;
  width: 10rem;
  height: 11rem;
}
.frames img {
  position: absolute;
}

.frame1 {
  top: 0;
  left: 5.2rem;
  width: 7.56rem;
  height: 6.3rem;
}

.frame2 {
  top: 0;
  right: 5.2rem;
  width: 6.93rem;
  height: 9.45rem;
}

.frame3 {
  top: 5.3rem;
  left: 7.5rem;
  width: 4.41rem;
  height: 3.78rem;
}

.sofa {
  width: 20.16rem;
  height: 12.6rem;
  position: relative;
  left: 1rem;
}

.lamp {
  width: 3.969rem;
  height: 12.6rem;
  position: relative;
  bottom: 2rem;
  right: 0.5rem;
}

.login {
  width: 7.875rem;
  height: 2.835rem;
  color: #fff;
  border-radius: 2.54835rem;
  background: #313415;
  border: none;
}

.CTA-mobile {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .CTA-mobile {
    display: none;
  }
}

.btn {
  border-radius: 2.54835rem;
  border: solid 1px #313415;
  width: 20.475rem;
  height: 4.725rem;
  font-size: 1.26rem;
  margin: 1rem;
}

.btn--fill {
  color: #fff;
  background: #313415;
}

.btn--border {
  color: #313415;
  background: #fff;
}

.products {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .products {
    flex-direction: row;
  }
}

.products__heading {
  color: #313415;
}

.products__content {
  color: #8b8b8b;
  margin-top: 3rem;
}

.products__catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}
@media only screen and (min-width: 768px) {
  .products__catalogue {
    flex-direction: row;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #313415;
  background: rgb(241, 240, 240);
  width: 100%;
  height: 30rem;
  margin: 1rem;
}
.product:hover {
  background: rgb(150, 149, 149);
}

/*# sourceMappingURL=index.css.map */
