@import "mixins";
@import "variables";
.landing-section{
    min-height: 100vh;
    position: relative;
    
    &:before{
        content:"";
        position: absolute;
        top:0;
        right:0;
        width: 100%;
        height:85%;
        background: #8B9E70;
        z-index:-1;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    @include toRem(padding-top, 30);
}

.logo{
    flex-grow:1;
    font-weight: 800;
    font-size: 2rem;
}
.burger{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 4rem;
    height: 4rem;
    @include responsive{
        display: none;
    }
    .line{
        background: #fff;
        height: 0.2rem;
        border-radius: 3rem;
    }
    .line1{
        width: 4rem;
    }
    .line2{
        width: 3rem;
    }
    .line3{
        width: 2rem;
    }
}
.navigation{
    justify-content: space-evenly;
    flex-grow:1;
    position: fixed;
    top: 7rem;
    
    width: 100%;
    height: 90vh;
    background: $dark_green;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.3s ease;

    a{
        cursor: pointer;
    }
    @include responsive{
        position: static;

        flex-direction: row;
        align-items: center;
        width: initial;
        height: initial;
        background: none;
        transition: none;
    }
}
.landing{
    height: 100%;
    width: 100%;
    padding: 0 $sm-screen-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    @include toRem(margin-top, 40);
    @include responsive{
        flex-direction: row;
        text-align: left;
        justify-content: center;
    }
}
.landing__text{
    @include responsive{
        flex-grow: 1;
    }
    
}
.landing__images{
    @include responsive{
        flex-grow: 2;
    }
}

.landing__heading{
    @include toRem(margin-top, 27);
}
.landing__content{
    @include toRem(margin-top, 27);
    @include responsive{
        width: 22rem;
    }
}
.CTA-desktop{
    display: none;
    @include responsive{
        display: flex;
    }
}
.CTA-desktop .btn{
    width: 12rem;
    height: 3.5rem;
    font-size: 0.8rem;
}
.landing__images{
    @include toRem(margin-top, 27);
    position: relative;
    top: 4rem;
    @include responsive{
        top: 6rem;
    }
}
.furniture{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.frames{
    width: 10rem;
    margin: 0 auto;
    width:10rem;
    height: 11rem;
    position: relative;
    img{
        position: absolute;
    }
}
.frame1{
    top:0;
    right:5rem;
    @include toRem(width, 120);
    @include toRem(height, 100);
    @include responsive{
        width: 8rem;
        height: 6.5rem;
        right:4.5rem;
    }
}
.frame2{
    top:0;
    left:5rem;
    @include toRem(width, 110);
    @include toRem(height, 150);
    @include responsive{
        width: 9rem;
        height: 10rem;
    }
}
.frame3{
    top:5.3rem;
    right:5rem;
    @include toRem(width, 70);
    @include toRem(height, 60);
}
.sofa{
    @include toRem(width, 320);
    @include toRem(height, 200);
    position: relative;
    left: 1rem;
    @include responsive{
        width: 40rem;
        height: 20rem;
    }
}
.lamp{
    @include toRem(width, 63);
    @include toRem(height, 200);
    position: relative;
    bottom: 2rem;
    right: 0.5rem;
    @include responsive{
        width: 7rem;
        height: 18.5rem;
    }
}
.login{
    @include toRem(width, 125);
    @include toRem(height, 45);
    color: #fff;
    @include toRem(border-radius, 40.45);
    background: $dark-green;
    border :none;
    cursor: pointer;
}
.open{
    left: 0;
}
.close{
    left: 100vw;
}