@import "mixins";
@import "variables";
.landing-section{
    min-height: 100vh;
    position: relative;
    
    &:before{
        content:"";
        position: absolute;
        top:0;
        right:0;
        width: 100%;
        height:85%;
        background: #8B9E70;
        z-index:-1;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    @include toRem(padding-top, 30);
}

.logo{
    flex-grow:1;
    font-weight: 800;
    font-size: 2rem;
}
.navigation{
    justify-content: space-evenly;
    flex-grow:1;
    display: none;
    
    @include responsive{
        display: flex;
        align-items: center;
    }
}
.landing{
    height: 100%;
    width: 100%;
    padding: 0 $sm-screen-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    @include toRem(margin-top, 40);
}

.landing__heading{
    @include toRem(margin-top, 27);
}
.landing__content{
    @include toRem(margin-top, 27);
}
.landing__images{
    @include toRem(margin-top, 27);
    position: relative;
    top: 4rem;
}
.furniture{
    display: flex;
    justify-content: center;
    position: relative;
    
}
.frames{
    width: 10rem;
    margin: 0 auto;
    width:10rem;
    height: 11rem;
    img{
        position: absolute;
    }
}
.frame1{
    top:0;
    left:5.2rem;
    @include toRem(width, 120);
    @include toRem(height, 100);
}
.frame2{
    top:0;
    right:5.2rem;
    @include toRem(width, 110);
    @include toRem(height, 150);
}
.frame3{
    top:5.3rem;
    left:7.5rem;
    @include toRem(width, 70);
    @include toRem(height, 60);
}
.sofa{
    @include toRem(width, 320);
    @include toRem(height, 200);
    position: relative;
    left: 1rem;
}
.lamp{
    @include toRem(width, 63);
    @include toRem(height, 200);
    position: relative;
    bottom: 2rem;
    right: 0.5rem;
}
.login{
    @include toRem(width, 125);
    @include toRem(height, 45);
    color: #fff;
    @include toRem(border-radius, 40.45);
    background: $dark-green;
    border :none;
}